body{
	padding: 10px;
}
.table td{
	vertical-align: middle;
}
.table thead th{
	vertical-align: middle;
}
/** TRANSLATE */
.quick-update-box {
   position: fixed;
   right: 0;
   top: 0
}

form span.required:after{
	content: "(*)";
	color: red;
}

.hint{
	padding:2px;
}